
.card {
    background: #fff;
    border: .05rem solid #e7e9ed;
    border-radius: .1rem;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0px 15px 0px;
}

    .card .card-header,
    .card .card-body,
    .card .card-footer {
        padding: .8rem;
        padding-bottom: 0;
    }

        .card .card-header:last-child,
        .card .card-body:last-child,
        .card .card-footer:last-child {
            padding-bottom: .8rem;
        }

    .card .card-image {
        padding-top: .8rem;
    }

        .card .card-image:first-child {
            padding-top: 0;
        }

            .card .card-image:first-child img {
                border-top-left-radius: .1rem;
                border-top-right-radius: .1rem;
            }

        .card .card-image:last-child img {
            border-bottom-left-radius: .1rem;
            border-bottom-right-radius: .1rem;
        }

.popover .card {
    border: 0;
    box-shadow: 0 .2rem .5rem rgba(69, 77, 93, .3);
}

.chip {
    align-items: center;
    background: #30a5ff;
    border-radius: 5rem;
    color: #fff;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    font-size: 90%;
    height: 1.2rem;
    line-height: .8rem;
    margin: .1rem;
    max-width: 100%;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
}

    .chip.active {
        background: #5755d9;
        color: #fff;
    }

    .chip .avatar {
        margin-left: -.4rem;
        margin-right: .2rem;
    }

.avatar {
    background: #5755d9;
    border-radius: 50%;
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 10px;
    position: relative;
    vertical-align: middle;
    width: 1.6rem;
}

    .avatar.avatar-xs {
        font-size: .4rem;
        height: .8rem;
        width: .8rem;
    }

    .avatar.avatar-sm {
        font-size: .6rem;
        height: 1.2rem;
        width: 1.2rem;
    }

    .avatar.avatar-lg {
        font-size: 1.2rem;
        height: 2.4rem;
        width: 2.4rem;
    }

    .avatar.avatar-xl {
        font-size: 1.6rem;
        height: 5rem;
        width: 5rem;
    }

    .avatar img {
        border-radius: 50%;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .avatar .avatar-icon,
    .avatar .avatar-presence {
        background: #fff;
        bottom: 14.64%;
        height: 50%;
        padding: .1rem;
        position: absolute;
        right: 14.64%;
        transform: translate(50%, 50%);
        width: 50%;
        z-index: 2;
    }

    .avatar .avatar-presence {
        background: #acb3c2;
        border-radius: 50%;
        box-shadow: 0 0 0 .1rem #fff;
        height: .5em;
        width: .5em;
    }

        .avatar .avatar-presence.online {
            background: #32b643;
        }

        .avatar .avatar-presence.busy {
            background: #e85600;
        }

        .avatar .avatar-presence.away {
            background: #ffb700;
        }

    .avatar[data-initial]::before {
        color: currentColor;
        content: attr(data-initial);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
.toast {
    background: rgba(69, 77, 93, .9);
    border: .05rem solid #454d5d;
    border-color: #454d5d;
    border-radius: .1rem;
    color: #fff;
    display: block;
    padding: .4rem;
    width: 100%;
}

    .toast.toast-primary {
        background: rgba(87, 85, 217, .9);
        border-color: #5755d9;
    }

    .toast.toast-success {
        background: #8ad919;
        border-color: #8ad919;
    }

    .toast.toast-warning {
        background: rgba(255, 183, 0, .9);
        border-color: #ffb700;
    }

    .toast.toast-error {
        background: rgba(232, 86, 0, .9);
        border-color: #e85600;
    }

    .toast a {
        color: #fff;
        text-decoration: underline;
    }

        .toast a:focus,
        .toast a:hover,
        .toast a:active,
        .toast a.active {
            opacity: .75;
        }

    .toast .btn-clear {
        margin: 4px -2px 4px 4px;
    }