
@{
    ViewBag.Title = "Bookmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bookmarks</h2>

<script>
    $(document).ready(function () {
        $("#Bookmarks").addClass('active');
    });
</script>