
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Content</h2>

<h5>This page will act to get new users to follow content and allow existing users to update content they follow.</h5>

