
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="alert alert-success container-fluid col-md-4 col-md-offset-4" role="alert">
            <div class="text-center">
                <b>Great! </b><span>@ViewBag.Message</span>
            </div>
        </div>
    </div>

}
<div class="container-fluid">
    <div class="row">
        <h2>Content</h2>

        <h5>This page will allow new users to select content to follow and allow existing users to update content they currently follow.</h5>
        <br />  
        <div class="row">
            <div class="col-sm-1 col-sm-offset-5">
                <a href="@Url.Action("TestContent", "Manage", new { contentID = "science", publisherID = ""})" role="button" class="btn btn-success pull-left" title="Test Content"><span class="fa fa-bolt"></span> Save Test Content</a>
                
            </div>
        </div>
    </div>
</div>


