
@{
    ViewBag.Title = "Login";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger container-fluid col-md-4 col-md-offset-4" role="alert">
        <div class="text-center">
            <b>Yikes! </b><span>@ViewBag.errorMessage</span>
        </div>
    </div>
} 

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="panel">
            <div class="panel-heading">
                <div class="h2 text-center">Hey There! </div>
            </div>
            <div class="panel-body">
                <br />
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <a href="@Url.Action("TwitterAuth", "Account")" role="button" class="btn btn-primary pull-left btn-block" title="Sign in with Twitter"><span class="fa fa-twitter fa-lg"></span><text class="h4"> Twitter</text></a>
                    </div>
                    @*<div class="col-sm-6">
                        <div class="btn btn-default pull-left btn-block" title="Sign in with Facebook"><span class="fa fa-facebook-square"></span> Facebook</div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
